body {
    background-color: #ede851;
    padding: 50px 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

main{
  background-color: #fc6a35;
  padding:5px;
  display: grid;
  grid-template-columns: 25px 650px 25px;
  grid-template-rows: 25px 550px 25px;
  gap: 3px;
}


.banner{
  grid-column: 1/-1;
  background-color: white;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  padding-top:3.5px;
  font-style: italic;
  font-size: smaller;
}
section{
  grid-column: 2/-2;
  grid-row: 2/-2;
  z-index:0px;
  position:relative;
  display:flex;
  img{
    width:50%;
    height:100%;
  }
  justify-content: center;
  align-items: center;
  div h2{
    font-weight: 100;
  }
  div h1{
    font-size:50px;
    margin-top:10px;
  }
}
.name{
  position:absolute;
  
  z-index:1;
  color:white;
  text-align: center;
}

/*nav_box css*/
.nav{
  writing-mode: vertical-rl;
  text-orientation: upright;

}


nav .img{
  height:fit-content;
}
h2{
  margin:0px;
  font-size:15px;
  height:fit-content;
}

.nav_box-left{
  grid-column: 1/2;
  grid-row:2/3;
  display: flex;
  h2{
    font-size: 13px;
  }
}
.nav_box-left nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-style:italic;
  &:first-child{
    height:60%;
  }
  &:nth-child(2){
    text-orientation: sideways;
    transform: rotate(180deg);
    height: 30%;
    background-color: white;
  }
  &:last-child{
    height:10%;
    background-color: white;
    margin-top:4px;
  }
}
.nav_box-left nav div{
  height:fit-content;
}

.nav_box-right{
  grid-column: 3/-1;
  grid-row:2/3;
  width:100%;
  height:100%;
  display:flex;
  justify-content: space-around;
  color:white;
  div{
    display: flex;
    align-items: center;
    div{
      height:2px;
      width:16px;
      background-color: white;
      margin: 10px 0px; 
      border-radius: 10px;
    }
  }
}
.nav_box-right nav{
  background-color: #44ab52;
  display:flex;
  height:100%;
  justify-content: space-around;
  align-items: center;
  font-style: italic;
  &:first-child{
    margin-bottom:4px;
  }
}