body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 770px;
    width: 100%;
    display: grid;
    height: 1008px;
    grid-template: 
    "header" 110px
    "main" 8fr/ 1fr;
    background-color: #dce0d5;
    margin: 20px;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: black;
    color: white;
    margin-bottom:20px;
    padding-left:10px;
    padding-top:10px;
}
h3{
    width:33%;
    margin-bottom: 10px;
    font-weight: 300;
    margin-top:0px;
    font-size: medium;
}

main{
    display: grid;
    grid-template-columns: 435fr 220fr;
    grid-template-rows: 450px 380fr;
    gap: 20px;
    background-color: #dce0d5;
}
main div{
    background-color:#f03d11;
    padding-left: 15px;
}
main div:first-child{
    display:flex;
    align-items: flex-end;
    margin:0px;
}
main div h1{
    font-size: 210px;
    margin:0px;
}
main div:last-child{
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
}

main div:last-child h2{
    color:#dce0d5;
    font-weight: 500;
    font-size: 40px;
    margin:0px;
}